:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;

  .header {
    border-bottom: 1px solid var(--cornflower);
    display: flex;
  }
}

body {
  color: var(--slate);
  letter-spacing: 0.02em;
  font-size: 16px;
  font-family: var(--font-family);
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.logo {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  text-decoration: none;
  display: inline-block;
  margin-right: 76px;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo-header {
  color: var(--navy-blue);
}

.logo-footer {
  color: var(--cloud);
}

.list {
  list-style: none;
}

.list-items {
  list-style-type: none;
  display: flex;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.contacts {
  font-style: normal;

  margin-left: auto;
}

.navigation-link,
.contacts-item {
  text-decoration: none;
}

.navigation-link {
  font-weight: 500;
  line-height: 150%;
  color: var(--navy-blue);
  font-size: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--iris);
}

.navigation-link.current {
  color: var(--ocean);
}

.navigation-link.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
  position: absolute;
  bottom: -1px;
  left: 0;
}

.contacts-item {
  line-height: 150%;
  color: var(--slate);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item:hover,
.contacts-item:focus {
  color: var(--iris);
}

.page-title-section {
  background: var(--navy-blue);
  padding: 188px 0;
}

.hero__bg-image {
  margin: 0 auto;
  max-width: 1440px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url('../images/img-name.jpg');
}

.page-title {
  color: var(--white);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  text-align: center;
  margin: 0 auto 48px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}

.order-button {
  border-radius: 4px;
  background: var(--iris);
  color: var(--white);
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px 16px 32px;
  border: none;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-blue);
  cursor: pointer;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  gap: 24px;
}

.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.portfolio {
  padding-bottom: 120px;
}

.portfolio-item-content {
  text-decoration: none;
  cursor: pointer;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-content:hover,
.portfolio-item-content:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item-content:hover .gallery__overley-text,
.portfolio-item-content:focus .gallery__overley-text {
  transform: translateY(0);
}

.gallery__overley-wrapper {
  position: relative;
  overflow: hidden;
}

.gallery__overley-text {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: var(--iris);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--cloud);
}

.order-button:hover,
.order-button:focus {
  background: var(--ocean);
}

.filter-button {
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  padding: 12px 24px;
  background-color: var(--cloud);
  color: var(--iris);
  font-weight: 500;
  cursor: pointer;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  padding: 12px 24px 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--ocean);
  color: var(--white);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.project-category {
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.benefits {
  padding: 120px 0;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefit-item {
  width: 264px;
}

.benefits-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border-radius: 4px;
  background-color: var(--cloud);
  margin-bottom: 8px;
}

.benefit-title,
.team-card-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.benefit-title {
  text-align: left;
}

.benefit-description {
  line-height: 150%;
  letter-spacing: 0.02em;
}

.team {
  background: var(--cloud);
  padding: 120px 0;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-card {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}

.team-card-name {
  text-align: center;
}

.team__wrapper {
  padding: 32px 0;
}

.team-card-job {
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team__list-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.team__item-icon {
  width: 40px;
  height: 40px;
}

.team__link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link-icon:hover,
.team__link-icon:focus {
  background-color: var(--ocean);
}

.team__icon {
  fill: var(--cloud);
}

.portfolio-gallery {
  padding: 96px 0 120px;
}

.gallery-filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.project-wrapper {
  border: 1px solid var(--cornflower);
  background: var(--white);
  border-top: none;
  display: flex;
  padding: 32px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.customers {
  padding: 120px 0;
}

.customers__title {
  color: var(--navy-blue);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.customers__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.customers__item {
  width: 168px;
  height: 88px;
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--light-slate);
  border-radius: 4px;
  border: 1px solid var(--light-slate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}

.customers__link:hover,
.customers__link:focus {
  color: var(--ocean);
  border-color: var(--ocean);
  fill: var(--ocean);
}

/* Footer */
.additional-info {
  background: var(--navy-blue);
  padding: 100px 0;
}

.tagline {
  line-height: 150%;
  color: var(--cloud);
  width: 264px;
  padding: 16px 0px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer__logo-wrapper {
  width: 264px;
  margin-right: 120px;
}

.footer__icon-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
  margin-bottom: 16px;
}

.footer__icon-list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
}

.footer__icon-item {
  width: 40px;
  height: 40px;
}

.footer__icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__icon {
  fill: var(--cloud);
}

.footer__icon-link:hover,
.footer__icon-link:focus {
  background-color: var(--green);
}

.footer__subscribe-wrapper {
  margin-left: 80px;
}

.footer__subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
  margin-bottom: 16px;
}

.footer__subscribe-form {
  display: flex;
  gap: 24px;
}

.footer__subscribe-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: transparent;
  min-width: 264px;
  min-height: 40px;
  flex-shrink: 0;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid var(--white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
}

.footer__subscribe-input::placeholder {
  color: var(--white);
}

.footer__subscribe-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  min-width: 165px;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__subscribe-button:hover,
.footer__subscribe-button:focus {
  background-color: var(--ocean);
}

.footer__subscribe-icon {
  fill: var(--white);
  margin-left: 16px;
}

/* Modal Window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  background-color: var(--dairy);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal__button-close {
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--cornflower);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close:hover,
.modal__button-close:focus {
  background-color: var(--ocean);
  border: none;
  fill: var(--white);
}

.modal__icon-close {
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close:hover .modal__icon-close,
.modal__button-close:focus .modal__icon-close {
  fill: var(--white);
}

.modal__title {
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-align: center;
  margin-bottom: 16px;
  display: block;
}

.modal__wrapper {
  margin-bottom: 8px;
}

.modal__label {
  color: var(--light-slate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
}

.modal__icon-wrapper {
  position: relative;
}

.modal__input {
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus {
  border-color: var(--iris);
}

.modal__input:focus+.modal__icon {
  fill: var(--iris);
}

.modal__icon {
  fill: var(--navy-blue);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__text-field-wrapper {
  margin-bottom: 16px;
}

.modal__text-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  width: 100%;
  min-height: 120px;
  padding: 8px 16px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
}

.modal__text-field::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal__text-field:focus {
  border-color: var(--iris);
}

.modal__check-wrapper {
  margin-bottom: 24px;
}

.modal__check-input:checked+.modal__check-text .modal__check-box {
  background-color: var(--ocean);
  border: none;
  fill: var(--color-cloud);
}

.modal__check-text {
  color: var(--light-slate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal__check-box {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__link-text {
  margin-left: 4px;
  color: var(--color-iris);
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__link-text:hover,
.modal__link-text:focus {
  color: var(--ocean);
}

.modal__button-submit {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  background-color: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  margin: 0 auto;
  display: block;
  color: var(--white);
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-submit:hover,
.modal__button-submit:focus {
  background-color: var(--ocean);
}